<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {{messages}}
    {% endwith %}
    <fieldset>
        <legend>Profile</legend>
        <form action="/profile" method="post">
            <label for="">
                Name:
                <input type="text" value="{{session.name}}" name="name">
            </label>
            <label for="">
                Email:
                <input type="text" value="{{session.email}}" name="email">
            </label>
            <label for="">
                Password:
                <input type="password" value="{{session.password}}" name="password">
            </label>
            <button type="submit">Update Profile</button>
        </form>
    </fieldset>
    <a href="/">
        <button onclick="logout()">Log Out</button>
    </a>
    <script>
        function logout() {
            fetch(
                "logout", { method: 'GET' }
            )
                .then(res => console.log(res))
                .catch(err => console.log("err"))
            // location.reload()
        }
    </script>
</body>

</html>